.footer {
  @apply text-white;

  &__inner {
    @apply bg-dark py-10;

    & > .container {
        @apply grid gap-10;

        @screen lg {
            @apply grid-cols-3 gap-40;
        }
    }
  }

  &__title {
    @apply block mb-5 text-lg text-center;

    @screen lg {
        @apply text-left;
    }
  }

  &__text {
    @apply text-center;

    @screen lg {
        @apply text-left;
    }
  }

  &__copy {
    @apply py-4 text-center text-sm;
    background: #000;
  }

  &__logo {
    @apply w-full mx-auto;
    max-width: 135px;

    @screen lg {
        @apply mx-0;
        max-width: 240px;
    }
  }
}