.container {
  @screen xl {
    max-width: 1440px;
  }

  @screen lg {
    max-width: 1240px;
  }
}

html {
  @apply text-dark scroll-smooth;
  font-size: 14px;

  @screen lg {
    font-size: 16px;
  }
}

section {
  @apply mb-20;
}
